{%- set data_is_network_mount = false -%}
{%- if transfersh.lookup.paths.data -%}
{%-   set data_is_network_mount = salt["cmd.run_stdout"](
        "df -P '{data}' | ".format(data=transfersh.lookup.paths.data) ~
          "awk 'BEGIN {e=1} $NF ~ /^\/.+/ { e=0 ; print $1 ; exit } END { exit e }'",
        python_shell=true
) -%}
{%- endif -%}
---
version: '3.8'

services:
  transfer:
    image: {{ transfersh.lookup.containers.transfersh.image }}
    restart: unless-stopped
    hostname: transfer
    env_file:
      - {{ transfersh.lookup.paths.config_transfersh }}
{%- if transfersh.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
{%- if "local" == transfersh.config.provider %}
    volumes:
      - {{ transfersh.lookup.paths.data or "transfersh-data" }}:{{ transfersh.config.basedir }}{%- if not data_is_network_mount %}:Z{%- endif %}
{%- endif %}
    ports:
{%- if not transfersh.config.get("tls_listener_only") %}
      - "{{ transfersh.config.listener.split(":") | last }}:8080"
{%- endif %}
{%- if transfersh.config.get("tls_listener") %}
      - "{{ transfersh.config.tls_listener.split(":") | last }}:{{ transfersh.config.tls_listener.split(":") | last }}"
{%- endif %}

{%- if "local" == transfersh.config.provider and not transfersh.lookup.paths.data %}

volumes:
  transfersh-data:
{%- endif %}
