---
version: '3.8'

services:
  transfer:
    image: {{ transfersh.lookup.containers.transfersh.image }}
    restart: unless-stopped
    hostname: transfer
    env_file:
      - {{ transfersh.lookup.paths.config_transfersh }}
{%- if transfersh.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      # temporary workaround for https://github.com/dutchcoders/transfer.sh/issues/462
      # mounting a subdir only does not work because it does not have 777 permissions
      # by default.
      - /tmp:/tmp
{%- if "local" == transfersh.config.provider %}
      - {{ transfersh.lookup.paths.data or "transfersh-data" }}:{{ transfersh.config.basedir }}
{%- endif %}
    ports:
{%- if not transfersh.config.get("tls_listener_only") %}
      - "{{ transfersh.config.listener.split(":") | last }}:8080"
{%- endif %}
{%- if transfersh.config.get("tls_listener") %}
      - "{{ transfersh.config.tls_listener.split(":") | last }}:{{ transfersh.config.tls_listener.split(":") | last }}"
{%- endif %}

{%- if "local" == transfersh.config.provider and not transfersh.lookup.paths.data %}

volumes:
  transfersh-data:
{%- endif %}
